pkgbase = hyprland-focused-booster
	pkgdesc = Utility for prioritizing vram usage for currently active application.
	pkgver = 0.1.0
	pkgrel = 0
	install = hyprland-focused-booster.install
	arch = any
	license = MIT
	makedepends = cargo
	depends = dmemcg-booster
	depends = systemd
	source = https://github.com/tumrin/hyprland-focused-booster/archive/refs/tags/0.1.0.tar.gz
	sha256sums = 500d37ba11d458cbbf0c768da78f38511b5033e4c72446c4ac4a866a5f197a49

pkgname = hyprland-focused-booster
